table {
	margin: 0 0 1.5em;
	width: 100%;
	text-align: left;
}
tr:nth-of-type(2n) {
	background: rgba(0, 0, 0, 0.05);
}
th, td {
	border-bottom: 1px solid #ddd;
	padding: 6px;
}
th {
	font-weight: bold;
	text-transform: uppercase;
}
